.header {
    position: relative;
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 64px 0 0 55px;
    background-color: transparent;
    z-index: 100;
}

.headerLogo {
    padding-right: 62px;
}

.header nav{
    display: grid;
    height: 96px;
    padding-left: 123px;
    padding-right: 165px;
    grid-auto-flow: column;
    gap: 20px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.04);
    align-items: center;
}

.header ul {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    gap: 50px;
    letter-spacing: 3px;
    color: #FFFFFF;
}

.stripe {
    background-color: #979797;
    height: 1px;
    width: calc(100% + 28px);
    z-index: 1;

}
