.header {
    position: relative;
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 64px 0 0 55px;
    background-color: transparent;
    z-index: 100;
}

.headerLogo {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 62px;
    align-items: center;
    z-index: 100;
}

.header nav {
    display: grid;
    height: 96px;
    padding-left: 123px;
    grid-auto-flow: column;
    gap: 20px;
    backdrop-filter: blur(5px);
    align-items: center;
}

.header ul {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    gap: 50px;
    letter-spacing: 3px;
    color: #ffffff;
}

.stripe {
    width: 473px;
    background-color: #979797;
    height: 1px;
    transform: translateX(5%);
}
